@use "../mixins" as *;

@include transition("view") {
  opacity: 0;
  transform: scale(1.25);
  transition-duration: 750ms;
}

@include transition("sketch", all 1000ms var(--transition-easing)) {
  opacity: 0;
  transform: scale(1.25);
}

@include transition("fade") {
  opacity: 0;
}

@include transition("force-fade") {
  opacity: 0 !important;
}

@include transition("fast-fade", var(--hover-transition)) {
  opacity: 1;
}

@include transition("slide-up") {
  height: 0px;
  opacity: 0;
  margin-top: 0 !important;
}

@include transition("pill", all 500ms var(--transition-easing) !important) {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-up-enter-to,
.slide-up-leave-from {
  height: 80px;
  opacity: 1;
}
