$pink: #f22d85;
$red: #e64646;
$yellow: #ffce51;
$orange: #ff924f;
$purple: #b85bff;
$green: #65dca6;
$blue: #3f87e6;
$teal: #4696d8;
$ice: #2093f0;
$black: #13131b;
$light-gray: #dad7db;
$gray: #847c85;
$dark-gray: #312e32;
$white: #e7e7e7;

$color-map: (
  "pink": $pink,
  "red": $red,
  "yellow": $yellow,
  "orange": $orange,
  "purple": $purple,
  "blue": $blue,
  "teal": $teal,
  "ice": $ice,
  "light-blue": $ice,
  "green": $green,
  "black": $black,
  "light-gray": $light-gray,
  "gray": $gray,
  "dark-gray": $dark-gray,
  "white": $white,
);
