$pink: #f22d85;
$red: #e64646;
$yellow: #ffce51;
$tan: #dcb08b;
$orange: #ff7925;
$purple: #b85bff;
$light-purple: #ab82c3;
$green: #65dca6;
$blue: #3f87e6;
$teal: #4696d8;
$ice: #2093f0;
$black: #0b090c;
$light-gray: #75759c;
$gray: #4e4e61;
$dark-gray: #2c2c36;
$white: #e7e7e7;

$color-map: (
  "pink": $pink,
  "red": $red,
  "yellow": $yellow,
  "orange": $orange,
  "purple": $purple,
  "blue": $blue,
  "teal": $teal,
  "ice": $ice,
  "light-blue": $ice,
  "green": $green,
  "black": $black,
  "light-gray": $light-gray,
  "gray": $gray,
  "dark-gray": $dark-gray,
  "white": $white,
  "light-purple": $light-purple,
);

$source-colors: (
  "2": $purple,
  "1": $green,
  "3": $blue,
  "4": $pink,
  "5": $orange,
  "7": $yellow,
);
