@use "./size.scss" as *;

@mixin bullets($color: currentColor) {
  &:before {
    @include size(0.75rem);
    margin-right: 0.5rem;
    border-radius: 1rem;
    content: "";
    display: inline-flex;
    background-color: $color;
  }
}
