@mixin flex($align: center, $justify: center, $direction: column) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin flex-row($horizontal-alignment: center, $vertical-alignment: center) {
  display: flex;
  flex-direction: row;
  align-items: $vertical-alignment;
  justify-content: $horizontal-alignment;
}

@mixin flex-column($vertical-alignment: center, $horizontal-alignment: center) {
  display: flex;
  flex-direction: column;
  align-items: $horizontal-alignment;
  justify-content: $vertical-alignment;
}
