@use "sass:meta";
@use "sass:list";
@use "../functions/spacer" as *;

@mixin padding($list: 1) {
  $length: list.length($list);

  @if $length == 1 {
    padding: spacer(nth($list, 1));
  }

  @if $length == 2 {
    padding: spacer(nth($list, 1)) spacer(nth($list, 2));
  }

  @if $length == 3 {
    padding: spacer(nth($list, 1)) spacer(nth($list, 2)) spacer(nth($list, 3));
  }

  @if $length == 4 {
    padding: spacer(nth($list, 1)) spacer(nth($list, 2)) spacer(nth($list, 3)) spacer(nth($list, 4));
  }
}
